.navbar {
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .navbar-title {
    font-size: 2rem; /* Large title */
    color: rgb(218, 9, 79);
    font-weight: bold;
  }
  